{# @var order \Pimcore\Model\DataObject\OnlineShopOrder #}

{% extends 'layout/patLayout.html.twig' %}

{% block content %}


<head>
    <meta charset="UTF-8" />
    <title>Trip and Fun</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ asset('static/css/login.css') }}"
    />
</head>

<section class="section-grey">
    <p class="title text-center my-0">Olá {{ app.user.firstname }}</p>
    <p class="text-secondary text-center subtitle my-0 mb-2">
        Aqui você pode conferir os teus dados cadastrais e atualizar as tuas definições
    </p>

    <div class="row">
        <div class="column-left my-2">
            <p class="my-1 cart-title">Dados do utilizador:</p>
            <div class="card shadow-sm card-login p-4 my-2">
                <div class="row align-items-center">
                    <div class="col">
                        <label for="Nome" class="font-weight-bold">Nome</label>
        <p>{{ app.user.firstname }}</p>
        <label for="Apelido" class="font-weight-bold">Apelido</label>
        <p>{{ app.user.lastname }}</p>
        <label for="Email" class="font-weight-bold">E-mail</label>
        <p>{{ app.user.email }}</p>

                    </div>
                </div>
            </div>
        </div>

    <div class="column-right my-2">
        <p class="my-1 cart-title">Preferências:</p>
            <div class="card shadow-sm card-login p-2 my-2">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="card-title font-weight-bold m-1">
                            <div class="card-body">
                                <form name="marketing_form" method="post" action="{{ path('account-update-marketing-permission') }}">
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="marketing_form_newsletter" name="newsletter" class="custom-control-input" value="1" {{ app.user.newsletter.consent ? 'CHECKED="CHECKED"' : '' }}>
                                            <label class="checkbox-custom custom-control-label" for="marketing_form_newsletter">Autoriza envio de campanhas?</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" id="marketing_form_profiling" name="profiling" class="custom-control-input" value="1" {{ app.user.profiling.consent ? 'CHECKED="CHECKED"' : '' }}>
                                            <label class="checkbox-custom custom-control-label" for="marketing_form_profiling">Autoriza tratamento dos dados?</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="marketing_form__submit" class="btn orange-button orange-button-100 ">
                                            Atualizar preferências
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
    </div>

    {% if orderList.count > 0 %}

    <div class="col-12 col-md-6">

        <div class="card">
            <div class="card-header">
                <strong>{{ 'general.orders' | trans }}</strong>
            </div>

            <div class="card-body">

                {% for orderItem in orderList %}

                    {% set order = orderItem.reference %}




                    <div class="media mb-4">
                        <div class="mr-3"><i class="fa fa-shopping-cart"></i></div>
                        <div class="media-body">
                            <small class="text-muted">
                                {{ order.orderdate }}
                            </small>

                            <h6> {{ 'general.order' | trans }} {{ order.ordernumber }} </h6>

                            <dl class="item-property">
                                <dt>{{ 'general.orderItems' | trans }}</dt>
                                <dd>
                                    {% for orderItem in order.items %}
                                        <div>
                                            {{ orderItem.productName }} ({{ orderItem.productNumber }})
                                            <span class="float-right">{{ orderItem.totalPrice | currency }}</span>
                                        </div>
                                    {% endfor %}
                                </dd>
                            </dl>

                            {% if order.priceModifications %}
                                <dl class="item-property">
                                    <dt>{{ 'general.priceModifications' | trans }}</dt>
                                    <dd>
                                        {% for priceModification in order.priceModifications %}
                                            <div>
                                                {{ priceModification.name }}
                                                <span class="float-right">{{ priceModification.amount | currency }}</span>
                                            </div>
                                        {% endfor %}
                                    </dd>
                                </dl>
                            {% endif %}

                            {% if order.giftItems %}
                                <dl class="item-property">
                                    <dt>{{ 'general.giftItems' | trans }}</dt>
                                    <dd>
                                        {% for orderItem in order.giftItems %}
                                            <div>
                                                {{ orderItem.productName }} ({{ orderItem.productNumber }})
                                            </div>
                                        {% endfor %}
                                    </dd>
                                </dl>
                            {% endif %}

                            <dl class="item-property">
                                <dd>
                                    <strong>
                                        {{ 'general.totalPrice' | trans }}
                                        <span class="float-right">{{ order.totalPrice | currency }}</span>
                                    </strong>
                                </dd>
                            </dl>



                        </div>
                    </div>

                    <hr/>

                {% endfor %}


            </div>
        </div>
    </div>

{% endif %}
</div>


</section>

{% endblock %}

