{% extends ('layout/patLayout.html.twig') %}

{% block content %}

    <head>
        <meta charset="UTF-8" />
        <title>Trip and Fun</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ asset('static/css/login.css') }}"
        />
    </head>
    
    <section class="section-grey">
        <p class="title text-center my-0">Login</p>
        <p class="text-secondary text-center subtitle my-0 mb-2">
            Faça seu login colocando seu email e senha
        </p>
    
        <div class="my-2 container">
             <div class="login-card card shadow-sm my-2 text-center">
                <form>
                    {{ form_start(form) }}
                    {% if error %}
                        <div class="alert alert-danger">
                    {{ error.getMessage() }}
                        </div>
                    {% endif %}
                    <div class="form-group">
                      <label for="Email">E-mail</label>
                      {{ form_widget(form._username, { 'attr': {'placeholder': 'email@address.com', 'class': 'form-control', 'type': 'email'}}) }}
                      <label for="Password">Senha</label>
                      {{ form_widget(form._password, { 'attr': {'placeholder': 'Password', 'class': 'form-control', 'type': 'password'}}) }}
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group form-check">
                      <input type="checkbox" name="_remember_me" class="form-check-input" id="rememberMe">
                      <label class="form-check-label" for="exampleCheck1">Manter sessão ativa</label>
                    </div>
                    {{ form_row(form._submit, {'attr': {'class': 'btn orange-button orange-button-100 my-3', 'type': 'submit'}}) }}
                    {{ form_end(form) }}
                  </form>
                  
                  <hr>
                  <button class="btn orange-button orange-button-100 mb-1"><a href="/account/send-password-recovery" class="white-color">Esqueci meu password</button></a>
                  <button class="btn orange-button orange-button-100 mb-1"><a href="/account/register" class="white-color">Fazer Registo</button></a>
                  
    
            </div>
    
        </div>
    </section>
{% endblock %}