{% extends ('layout/patLayout.html.twig') %}


{% block content %} 

 	<head>
		<link rel="stylesheet" type="text/css" href="{{ asset('static/css/home.css') }}">
	</head>

	<section class="section-orange">
		<p class="text-white home-title mt-3 my-0">Verão 2023: Descubra as melhores experiências</p>
		<p class="text-white home-subtitle my-0">Descubra agora o mundo de experiências que está à sua espera.</p>
		<p class="text-white home-subtitle my-0">Obtenha Evoucher instantâneo +  Validade de 3 anos </p>
		<div class="row d-flex justify-content-center">
			<button class="home-button mx-1 my-3" type="submit" >SALDOS</button>
			<button class="home-button mx-1 my-3" type="submit">TODOS OS PRODUTOS</button>
		</div>
	</section>

	<section class="section-white">
		<div class="row my-2 d-flex justify-content-center">
			<div class="card m-2 shadow">
				<a href="/listing?productType=30">
					<div class="card-img-div">
						<img src="static/images/hotel.jpg" class="card-img" alt="...">
					</div>
					<div class="card-img-overlay row">
				  		<p class="card-text align-self-center">HOTÉIS</p>
					</div>
				</a>
			</div>
			<div class="card m-2 shadow">
				<a href="/listing?productType=17">
					<div class="card-img-div">
						<img src="static/images/spa.jpg" class="card-img" alt="...">
					</div>
					<div class="card-img-overlay row">
				  		<p class="card-text align-self-center">SPA</p>
					</div>
				</a>
			</div>
			<div class="card m-2 shadow">
				<a href="/listing?productType=28">
					<div class="card-img-div">
						<img src="static/images/restaurante.jpg" class="card-img" alt="...">
					</div>
					<div class="card-img-overlay row">
					  <p class="card-text align-self-center">RESTAURANTES</p>
					</div>
				</a>
			</div>
			<div class="card m-2 shadow">
				<a href="/listing?productType=15">
					<div class="card-img-div">
						<img src="static/images/lazer.jpg" class="card-img" alt="...">
					</div>
					<div class="card-img-overlay row">
				  		<p class="card-text align-self-center">LAZER</p>
					</div>
				</a>
			</div>
		</div>
	</section>

	<section class="section-white">
		<p class="section-title">Novas experiências</p>
	</section>

	<!-- {{ pimcore_wysiwyg('contentdescription')}}

	<h3>{{ pimcore_link ('linkHtml') }}</h3>
	<p>{{ pimcore_areablock ('twigTeste') }}</p>

	<h3>{{ pimcore_link ('link') }}</h3>
	<p>{{ pimcore_areablock ('twigIfBlock') }}</p>

	<h3>{{ pimcore_link ('mylink') }}</h3>
	<p>{{ pimcore_areablock ('twigForBlock') }}</p> -->

	<section class="section-white">
		<a href="/listing"><img class="ads-image" src="static/images/ads.png" alt="Imagem"></a>
	</section>
	
{% endblock %}
