{% extends 'layout/patLayout.html.twig' %} 

{% block content %}

<head>
    <meta charset="UTF-8" />
    <title>Trip and Fun</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ asset('static/css/product-detail.css') }}"
    />
</head>

<section class="section-grey">
    <div class="row">
        <div class="column-left my-2">
            {% if product.images %}
            <img class="product-image shadow-sm" src="{{ product.images }}" alt="Image" style="width: 100%; height: auto; float: left;">

            {% else %} 
            <img class="shadow-sm" src="static/images/noimage.jpg" alt="Imagem">
            {% endif %}
        </div>

        <div class="column-right my-4">
            <p class="title my-0">{{product.name}}</p>
            <p class="text-secondary subtitle my-0 mb-2">{{ product.getLocalization() }}</p>
            <p class="price my-0">{{ product.getPrice() }} €</p>
            <p class="text-secondary subtitle mb-2 mt-0">IVA Incluído</h6>
            <p class="text-secondary subtitle"><i class="fa-solid fa-star main-color"></i><i class="fa-solid fa-star main-color"></i><i class="fa-solid fa-star main-color"></i><i class="fa-solid fa-star main-color"></i><i class="fa-regular fa-star main-color"></i> (12)</p>
            <div>
                <a href="/wishlistadd?id={{product.id}}">
                    <button class="btn btn-default orange-button"> ADICIONAR À WISHLIST <i class="fa-solid fa-heart"></i></button>
                </a>
            </div>
            <div><a href="/cartadd?id={{product.id}}"><button class="btn btn-default orange-button"> ADICIONAR NO CARRINHO <i class="fa-solid fa-cart-shopping"></i></button></a></div>
            <p class="text-secondary subtitle my-2"><i class="fa-solid fa-circle fa-2xs main-color"></i></i> Disponível</p>
            <p class="text-secondary subtitle my-2">Validade do voucher: 1 ano e 6 meses</p>

            <div>
        </div>
    </div>
</section>
<section class="section-grey">
    <p class="title my-0">Detalhes da experiência</p>
    <p class="text-secondary subtitle my-2">{{ product.getDescription() }}</p>
</section>
<section class="section-grey">
    <p class="title my-0">Reviews</p>
    <p class="text-secondary subtitle"><i class="fa-solid fa-star main-color"></i><i class="fa-solid fa-star main-color"></i><i class="fa-solid fa-star main-color"></i><i class="fa-solid fa-star main-color"></i><i class="fa-regular fa-star main-color"></i> (12) <i class="fa-solid fa-chevron-right"></i></p>
</section>
<section class="section-grey">
    <a href="/listing"><img class=" ads-image" src="static/images/ads.png" alt="Imagem"></a>
</section>
{% endblock %}