{% extends 'layout/patLayout.html.twig' %} 

{% block content %}
    <div class="breadcrumbs">
        <ol>
            <li><a href="/product-listing">Products List</a></li>
            {% if(product.name) %}
                <li>{{ product.name }}</li>
            {% else %}
                <li>{{ product.description }}</li>
            {% endif %}
        </ol>
    </div>
    <form method="post" action="">
        <div class="container">
            <a href="#" class="expand-image">
            {% if product.images %}
                {% set mainImage = product.images|first %}
                <img src="{{ mainImage }}" alt="Imagem" height="400px" width="400px">
            {% else %}
                <img src="static/images/noimage.jpg" alt="Imagem" height="25%" width="25%">
            {% endif %}
            </a>
            <div class="text">
                <h1>{{ product.getName() }}</h1>
                <p>{{ product.getDescription() }}</p>
                <p>{{ product.getPrice() }}</p>
                <p>{{ product.getType() }}</p>
                <p>{{ product.getLocalization() }}</p>
            </div>
            <div class="imagens-menores">
            {% set gallery = product.images %}
            {% for image in gallery %}
                <input type="hidden" name="images[]" value="{{ image }}">
                {% if not loop.first %}
                    <div class="imagem-menor">
                        <img src="{{ image }}" alt="Imagem">
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </form>


    <div class="buttons a">
        <a href="/cartadd?id={{product.id}}">Add to cart</a>
    </div>

    <div class="modal fade" id="imagemModal" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-body">
                    <img src="" alt="Imagem" class="imagem-modal" style="max-height: auto; max-width: auto;">
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
        $('.expandir-imagem').click(function(event) {
            event.preventDefault(); 
            var image = $(this).find('img').attr('src'); 
            $('#imagemModal').find('.imagem-modal').attr('src', image);
            $('#imagemModal').modal('show');
        });
        });

        $(document).ready(function() {
        $('.imagem-menor').click(function(event) {
            event.preventDefault(); 
            var image = $(this).find('img').attr('src'); 
            $('#imagemModal').find('.imagem-modal').attr('src', image); 
            $('#imagemModal').modal('show'); 
        });
        });

        var tabs = document.querySelectorAll('.nav-link');
        tabs.forEach(function(tab) {
        var title = tab.querySelector('.nav-link');
        title.addEventListener('click', function() {
            // remover a classe "active" de todas as tabs
            tabs.forEach(function(tab) {
            tab.querySelector('.nav-link').classList.remove('active');
            });
            // adicionar a classe "active" apenas na tab clicada
            title.classList.add('active');
        });
        });


        var tabs = document.querySelectorAll('.nav-link');
        tabs.forEach(function(tab) {
        var title = tab.querySelector('.nav-link');
        title.addEventListener('click', function() {
            // remover a classe "active" de todas as tabs
            tabs.forEach(function(tab) {
            tab.querySelector('.nav-link').classList.remove('active');
            });
            // adicionar a classe "active" apenas na tab clicada
            title.classList.add('active');
        });
        });

    </script>
{% endblock %}
