<div class="card-products m-2" data-productid="{{ product.id }}">
    <a href="/product-detail?id={{product.id}}" class="text-decoration-none text-dark">
            <div class="card-body-top pb-3">
                <div class="product-list-image-div">
                    {% if product.images %}
                    <img class="product-list-image shadow-sm" src="{{ product.images }}" alt="Imagem" style="width: 250px; height: 200px;">
                    {% else %}
                    <img class="product-list-image shadow-sm" src="static/images/noimage.jpg" alt="Imagem" height="100%" width="100%">
                    {% endif %} 
                    <a class="btn btn-primary button-inside-image" href="/wishlistadd?id={{product.id}}"><i class="fa-solid fa-heart"></i></a>
                    <a class="btn btn-primary button-inside-image" href="/cartadd?id={{product.id}}"><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
            </div>
            <div class="card-body-bottom">
                <p class="title my-0">{{ product.name }}</p>
            <p class="subtitle text-secondary my-0">{{ product.getLocalization() }}</p>
            <p class="title my-0">{{ product.getPrice() }} €</p>
            </div>
    </a>
</div>

