<div class="card custom-product-card mb-4 shadow-sm flex-fill" data-productid="{{ gac.id }}">
    <a href="/product-detail?id={{gac.id}}" class="text-decoration-none text-dark">
        <div class="card-body pricing">
            <div class="card-body-top pb-3">
                <div class="card-top-image">
                    {# {% if gac.images %}
                        {% set mainImage = gac.images|first %}
                        <img src="{{ mainImage }}" alt="Imagem" height="100%" width="100%">
                    {% else %} #}
                        <img src="static/images/noimage.jpg" alt="Imagem" height="100%" width="100%">
                    {# {% endif %} #}
                </div>
            </div>
            <div class="card-body-bottom">
                <h6 class="card-title pricing-card-title text-center">{{ gac.description }}</h6>
                <p class="card-price"></p>
                <div class="bottom-card">
                    <div class="bottom-number-card">
                        {% if(gac.name) %}
                            <p class="card-price"> {{ gac.name }} </p>
                        {% else %}
                            <p class="card-price"> N/A </p>
                        {% endif %}
                    </div>
                    <div class="bottom-detail-card">
                        <a href="/product-detail?id={{gac.id}}"><button>View Details</button></a>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>