{# @var product \App\Model\DataObject\GAC #}

{% extends 'layout/layout_detail.html.twig' %}
{% block content %}
    <div class="breadcrumbs">
        <ol>
            <li><a href="/gac-listing">GAC List</a></li>
            {% if(gac.name) %}
                <li>{{ gac.name }}</li>
            {% else %}
                <li>{{ gac.description }}</li>
            {% endif %}
        </ol>
    </div>
    {# <form method="post" action="{{ path('download_csv') }}">
        <button class="downloadBtn" type="submit" title="Images and Data (in CSVP format) is being zipped for downloaded"><i class="fa fa-download" aria-hidden="true"></i></button>
        <div class="container">
            <a href="#" class="expandir-imagem">
            {% if gac.images %}
                {% set mainImage = gac.images|first %}
                <img src="{{ mainImage }}" alt="Imagem" height="400px" width="400px">
            {% else %}
                <img src="static/images/noimage.jpg" alt="Imagem" height="100%" width="100%">
            {% endif %}
            </a>
            <div class="text">
                <h2>{{ gac.description }}</h2>
                <p>{{ gac.name }}</p>
                <p><b>Status:</b> {{ gac.status }} ({{gac.statusDescription}})</p>
                <p><b>Sync Force Project:</b> {{ gac.syncForceProject }}</p>
                <p><b>Planner:</b> {{gac.plannerDescription}} </p>
                <p><b>Stocking Type:</b> {{gac.stockingTypeDescription}}</p>
                <div class="bottom">
                    <p class="color"><b>Color:</b> {{gac.colorDescription}}</p>
                    {% if(gac.finishedProduct == 1) %}
                        <p class="finish"><span class="texto-direita"><b>Finished Product</b><i class="fa fa-check-circle" style="font-size:20px;color:#E86657" aria-hidden="true"></i></span></p>
                    {% else %}
                        <p class="finish"><span class="texto-direita"><b>Finished Product</b><i class="fa fa-times" style="font-size:20px;color:#E86657" aria-hidden="true"></i></span></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="imagens-menores">
            {% set gallery = gac.images %}
            {% for image in gallery %}
                <input type="hidden" name="images[]" value="{{ image }}">
                {% if not loop.first %}
                    <div class="imagem-menor">
                        <img src="{{ image }}" alt="Imagem">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr>
        <h2>Additional Information</h2>
        <div class="nav justify-content-center text-center">
            <a class="nav-link" data-toggle="tab" href="#tab1" role="tab"><b>Main Data</b></a>
            <a class="nav-link" data-toggle="tab" href="#tab2" role="tab"><b>Description</b></a>
            <a class="nav-link" data-toggle="tab" href="#tab3" role="tab"><b>Planning</b></a>
            <a class="nav-link" data-toggle="tab" href="#tab4" role="tab"><b>Branch Plant</b></a>
            <a class="nav-link" data-toggle="tab" href="#tab5" role="tab"><b>Customer (GS1)</b></a>
            <a class="nav-link" data-toggle="tab" href="#tab6" role="tab"><b>UOM</b></a>
            <a class="nav-link" data-toggle="tab" href="#tab7" role="tab"><b>Extra Item Info</b></a>
            <a class="nav-link" data-toggle="tab" href="#tab8" role="tab"><b>Assorti Content</b></a>
            <a class="nav-link" data-toggle="tab" href="#tab9" role="tab"><b>B2C Texts</b></a>
        </div>
        <div class="tab-content">
            <div id="tab1" class="tab-pane fade" role="tabpanel">
                <h5><b>Main Data</b></h5>
                <hr>
                    <div class="status-container">
                        <div class="status">
                            <label for="status"><b>Status:</b> {{ gac.status }}</label>
                            <input type="hidden" name="array[]" value="{{ gac.itemNumber2 }}">
                            <input type="hidden" name="array[]" value="{{ gac.status }}">
                        </div>
                        <div class="status">
                            <label for="statusDescription"><b>Status Description:</b> {{ gac.statusDescription }}</label>
                            <input type="hidden" name="array[]" value="{{ gac.statusDescription }}">
                        </div>
                    </div>
                    <h5><b>Sync</b></h5>
                    <div class="sync-container">
                        <div class="sync">
                            <label for="syncForceProject"><b>Sync Force Project:</b> {{ gac.syncForceProject }}</label>
                            <input type="hidden" name="array[]" value="{{ gac.syncForceProject }}">
                        </div>
                        <div class="sync">
                            <label for="syncForceDescription"><b>Sync Force Description:</b> {{gac.syncFormProjectDescription}} </label>
                            <input type="hidden" name="array[]" value="{{gac.syncFormProjectDescription}}">
                        </div>
                        <div class="sync">
                            <label for="firstDeliveryDate"><b>First Delivery Date:</b> {{gac.firstDeliveryDate}} </label>
                            <input type="hidden" name="array[]" value="{{gac.firstDeliveryDate}}">
                        </div>
                        <div class="sync">
                            <label for="createdBy"><b>Created By:</b> {{ userName }}</label>
                            <input type="hidden" name="array[]" value="{{ userName }}">
                        </div>
                    </div>
                    <div class="planner-container">
                        <div class="planner">
                            <label for="planner"><b>Planner:</b> {{ planner }}</label>
                            <input type="hidden" name="array[]" value="{{ planner }}">
                        </div>
                        <div class="plannerDescription">
                            <label for="stockingType"><b>Description:</b> {{ gac.plannerDescription }}</label>
                        </div>
                        <div class="planner">
                            <label for="stockingType"><b>Stocking Type:</b> {{ stockingType }}</label>
                            <input type="hidden" name="array[]" value="{{ stockingType }}">
                        </div>
                        <div class="plannerDescription">
                            <label for="plannerDescription"><b>Description:</b> {{gac.stockingTypeDescription}}</label>
                        </div>
                        <div class="planner">
                            <label for="codeSignal"><b>Code 5: Signal Code:</b> {{ signalCode}}</label>
                            <input type="hidden" name="array[]" value="{{ signalCode}}">
                        </div>
                        <div class="plannerDescription">
                            <label for="plannerDescription"><b>Description:</b> {{gac.signalCodeDescription}}</label>
                        </div>
                        <div class="checkbox-wrapper">
                            <label for="checkbox1"><b>Finished Product:</b></label>
                            {% if(gac.finishedProduct == 1) %}
                                <input type="checkbox" id="checkbox1" name="checkbox1" checked disabled>
                            {%  else  %}
                                <input type="checkbox" id="checkbox1" name="checkbox1" disabled>
                            {% endif %}
                        </div>
                        <div class="checkbox-wrapper">
                            <label for="checkbox2"><b>Dummy Item:</b></label>
                            {% if(gac.dummyItem == 1) %}
                                <input type="checkbox" id="checkbox1" name="checkbox1" checked disabled>
                            {%  else  %}
                                <input type="checkbox" id="checkbox1" name="checkbox1" disabled>
                            {% endif %}
                        </div>
                        <div class="checkbox-wrapper">
                            <label for="checkbox3"><b>Component:</b></label>
                            {% if(gac.component == 1) %}
                                <input type="checkbox" id="checkbox1" name="checkbox1" checked disabled>
                            {%  else  %}
                                <input type="checkbox" id="checkbox1" name="checkbox1" disabled>
                            {% endif %}
                        </div>
                    </div>
                    <h5><b>Segment</b></h5>
                    <div class="segment-container">
                        <div class="segment">
                            <label for="SegmentItem1"><b>Segment Item 1:</b> {{ SegmentItem1 }}</label>
                            <input type="hidden" name="array[]" value="{{ SegmentItem1 }}">
                        </div>
                        <div class="segment">        
                        </div>
                        <div class="segment">
                            <label for="SegmentedItemNumber2"><b>Segmented Item Number 2 (Brand):</b> {{ SegmentItem2 }}</label>
                            <input type="hidden" name="array[]" value="{{ SegmentItem2 }}">
                        </div>
                        <div class="segmentDescription">
                            <label for="Description"><b>Description:</b> {{ SegmentItem2Description }}</label>
                        </div>
                        <div class="segment">
                            <label for="SegmentedItemNumber3"><b>Segmented Item Number 3 (Core):</b> {{ SegmentItem3 }}</label>
                            <input type="hidden" name="array[]" value="{{ SegmentItem3 }}">
                        </div>
                        <div class="segmentDescription">
                            <label for="Description"><b>Description:</b> {{ SegmentItem3Description }}</label>
                        </div>
                        <div class="segment">
                            <label for="SegmentedItemNumber4"><b>Segmented Item Number 4 (Packaging):</b> {{ SegmentItem4 }}</label>
                            <input type="hidden" name="array[]" value="{{ SegmentItem4 }}">
                        </div>
                        <div class="segmentDescription">
                            <label for="Description"><b>Description:</b> {{ SegmentItem4Description }}</label>
                        </div>
                        <div class="segment">
                            <label for="SegmentedItemNumber5"><b>Segmented Item Number 5 (Color/Fragrance):</b> {{ SegmentItem5 }}</label>
                            <input type="hidden" name="array[]" value="{{ SegmentItem5 }}">
                        </div>
                        <div class="segmentDescription">
                            <label for="Description"><b>Description:</b> {{ SegmentItem5Description }}</label>
                        </div>
                    </div>
                    <div class="itemNumber-container">
                        <div class="itemNumber">
                            <label for="itemNumber"><b>2nd Item Number:</b> {{ gac.itemNumber2 }}</label>
                        </div>
                    </div>
                    <h5><b>Description</b></h5>
                    <div class="description-container">
                        <div class="description">
                            <label for="description"><b>Description 1:</b> {{ gac.description1 }}</label>
                            <input type="hidden" name="array[]" value="{{ gac.description1 }}">
                        </div>
                        <div class="description">
                            <label for="description"><b>Description 2: Packaging:</b> {{ gac.description2 }}</label>
                            <input type="hidden" name="array[]" value="{{ gac.description2 }}">
                        </div>
                    </div>
                    <div class="colorFragrance-container">
                        <div class="colorFragrance">
                            <label for="colorFragrance"><b>Color:</b> {{ color }}</label>
                            <input type="hidden" name="array[]" value="{{ color }}">
                        </div>
                        <div class="colorFragrance">
                            <label for="colorFragrance"><b>Description:</b> {{ gac.colorDescription }}</label>
                        </div>
                        <div class="colorFragranceDescription">
                            <label for="colorFragrance"><b>Fragrance:</b> {{ fragrance }}</label>
                            <input type="hidden" name="array[]" value="{{ fragrance }}">
                        </div>
                        <div class="colorFragranceDescription">
                            <label for="colorFragrance"><b>Description:</b> {{ gac.fragranceDescription }}</label>
                        </div>
                    </div>
                    <h5><b>Wicks/Use Candle</b></h5>
                    <div class="wicks-container">
                        <div class="wicks">
                            <label for="wicks"><b>Number of Wicks:</b> {{ gac.wicksNumber }}</label>
                            <input type="hidden" name="array[]" value="{{ gac.wicksNumber }}">
                        </div>
                        <div class="wicks">
                            <label for="wicks"><b>Inside/Outside Use Candle:</b> {{ gac.useCandle }}</label>
                            <input type="hidden" name="array[]" value="{{ gac.useCandle }}">
                        </div>
                    </div>
                    <h5><b>GTIN</b></h5>
                    <div class="gtin-container">
                        <div class="gtin">
                            <label for="wicks"><b>EAN Outcarton (OC) / Catalog Number: </b> {{ Gtin }}</label>
                            <input type="hidden" name="array[]" value="{{ Gtin }}">
                        </div>
                        <div class="gtin">
                            <label for="wicks"><b>EAN CU:</b> {{ eanCU }}</label>
                            <input type="hidden" name="array[]" value="{{ eanCU }}">
                        </div>
                        <div class="gtin">
                            <label for="wicks"><b>EAN PU:</b> {{ eanPU }}</label>
                            <input type="hidden" name="array[]" value="{{ eanPU }}">
                        </div>
                        <div class="gtin">
                            <label for="wicks"><b>EAN PL:</b> {{ eanPL }}</label>
                            <input type="hidden" name="array[]" value="{{ eanPL }}">
                        </div>
                    </div>
                    <h5><b>Sales Category</b></h5>
                    <div class="sales-container">
                        <div class="sales">
                            <label for="sales"><b>Code 3: Main Brand:</b> {{ mainBrand }}</label>
                            <input type="hidden" name="array[]" value="{{ mainBrand }}">
                        </div>
                        <div class="sales">
                            <label for="sales"><b>Description:</b> {{ gac.mainBrandDescription }}</label>
                        </div>
                        <div class="sales">
                            <label for="sales"><b>Code 4: Sub Brand:</b> {{ subBrand }}</label>
                            <input type="hidden" name="array[]" value="{{ subBrand }}">
                        </div>
                        <div class="salesDescription">
                            <label for="colorFragrance"><b>Description:</b> {{ gac.subBrandDescription }}</label>
                        </div>
                        <div class="salesDescription">
                            <label for="colorFragrance"><b>Code 10: Customer Code: </b> {{ categoryCustomerCode }}</label>
                            <input type="hidden" name="array[]" value="{{ categoryCustomerCode }}">
                        </div>
                        <div class="salesDescription">
                            <label for="colorFragrance"><b>Description:</b> {{ gac.categoryCustomerCodeDescription }}</label>
                        </div>
                    </div>
                    <div class="glClass-container">
                        <div class="glClass">
                            <label for="sales"><b>G/L Class:</b> {{ glClass }}</label>
                            <input type="hidden" name="array[]" value="{{ glClass }}">
                        </div>
                        <div class="glClass">
                            <label for="sales"><b>Description:</b> {{ gac.glClassDescription }}</label>
                        </div>
                        <div class="glClassDescription">
                            <label for="sales"><b>Sales Catalog Section: Product Group:</b> {{ productGroup }}</label>
                            <input type="hidden" name="array[]" value="{{ productGroup }}">
                        </div>
                        <div class="glClassDescription">
                            <label for="colorFragrance"><b>Description:</b> {{ gac.productGroupDescription }}</label>
                        </div>
                    </div>
                    <h5><b>Item Category Code 70</b></h5>
                    <div class="itemCategory-container">
                        <div class="itemCategory">
                            <label for="sales"><b>04: Item Group:</b> {{ itemGroup }}</label>
                            <input type="hidden" name="array[]" value="{{ itemGroup }}">
                        </div>
                        <div class="itemCategory">
                            <label for="sales"><b>Description:</b> {{ gac.itemGroupDescription }}</label>
                        </div>
                        <div class="itemCategory">
                            <label for="sales"><b>06: Commercial Category:</b> {{ commercialCategory }}</label>
                            <input type="hidden" name="array[]" value="{{ commercialCategory }}">
                        </div>
                        <div class="itemCategoryDescription">
                            <label for="colorFragrance"><b>Description:</b> {{ gac.commercialCategoryDescription }}</label>
                        </div>
                        <div class="itemCategoryDescription">
                            <label for="colorFragrance"><b>07: Product Type:</b> {{ productType }}</label>
                            <input type="hidden" name="array[]" value="{{ productType }}">
                        </div>
                        <div class="itemCategoryDescription">
                            <label for="colorFragrance"><b>Description:</b> {{ gac.productTypeDescription }}</label>
                        </div>
                    </div>
                    <h5><b>Commodity</b></h5>
                    <div class="commodity-container">
                        <div class="commodity">
                            <label for="sales"><b>Packaging Type OC:</b> {{ packagingTypeOC }}</label>
                            <input type="hidden" name="array[]" value="{{ packagingTypeOC }}">
                        </div>
                        <div class="commodity">
                            <label for="sales"><b>Description:</b> {{ gac.packagingTypeOCDescription }}</label>
                        </div>
                        <div class="commodityDescription">
                            <label for="sales"><b>Packaging Type CU:</b> {{ packagingTypeCU }}</label>
                            <input type="hidden" name="array[]" value="{{ packagingTypeCU }}">
                        </div>
                        <div class="commodityDescription">
                            <label for="colorFragrance"><b>Description:</b> {{ gac.packagingTypeCUDescription }}</label>
                        </div>
                    </div>
                    <h5><b>Pallet</b></h5>
                    <div class="pallet-container">
                        <div class="pallet">
                            <label for="sales"><b>Supplier Rebate Code: Pallet Type:</b> {{ palletType}}</label>
                            <input type="hidden" name="array[]" value="{{ palletType}}">
                        </div>
                        <div class="pallet">
                            <label for="sales"><b>Description:</b> {{ gac.palletTypeDescription }}</label>
                        </div>
                        <div class="palletDescription">
                            <label for="sales"><b>Pallet Quality (Only Fill for EURO Pallets):</b> {{ palletQuality }}</label>
                            <input type="hidden" name="array[]" value="{{ palletQuality }}">
                        </div>
                        <div class="palletDescription">
                            <label for="colorFragrance"><b>Description:</b> {{ gac.palletQualityDescription }}</label>
                        </div>
                    </div>
                    <div class="itemPrice-container">
                        <div class="itemPrice">
                            <label for="sales"><b>Item Price Group:</b> {{ itemPriceGroup}}</label>
                            <input type="hidden" name="array[]" value="{{ itemPriceGroup}}">
                        </div>
                        <div class="itemPrice">
                            <label for="sales"><b>Description:</b> {{ gac.itemPriceGroupDescription}}</label>
                        </div>
                        <div class="itemPriceDescription">
                            <label for="sales"><b>Cat Code 6: Order Policy:</b> {{ orderPolicy}}</label>
                            <input type="hidden" name="array[]" value="{{ orderPolicy}}">
                        </div>
                        <div class="itemPriceDescription">
                            <label for="colorFragrance"><b>Description:</b> {{ gac.orderPolicyDescription}}</label>
                        </div>
                    </div>
                    <h5><b>SDS</b></h5>
                    <div class="sds-container">
                        <div class="sds">
                            <label for="sales"><b>SDS Available:</b> {% if(gac.sdsAvailable == 1) %} Yes {%  else  %} No {%  endif  %}</label>
                            {% if(gac.sdsAvailable == 1) %}
                                <input type="hidden" name="array[]" value="Yes">
                            {%  else  %}
                                <input type="hidden" name="array[]" value="No">
                            {%  endif  %}
                        </div>
                        <div class="sds">
                            <label for="sales"></label>
                        </div>
                        <div class="sdsDescription">
                            <label for="sales"><b>SDS Type:</b> {{ sdsType}}</label>
                            <input type="hidden" name="array[]" value="{{ sdsType}}">
                        </div>
                        <div class="sdsDescription">
                            <label for="colorFragrance"><b>Description:</b> {{ gac.sdsTypeDescription}}</label>
                        </div>
                    </div>
            </div>
            <div id="tab2" class="tab-pane fade" role="tabpanel">
                <h5><b>Description</b></h5>
                <hr>
                    <div class="descriptionTab">
                        <label for="descriptionTab"><b>Description 1:</b> {{ description}}</label>
                    </div>
                <div class="nav justify-content">
                    <a class="nav-b2c" data-toggle="tab" href="#tab18" role="tab">
                        <img class="tab-icon" src="static/images/icons/english.svg" alt="Ícone de mensagens"> <b class="tab-title">English</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab19" role="tab">
                        <img class="tab-icon" src="static/images/icons/french.svg" alt="Ícone de mensagens"> <b class="tab-title">French</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab20" role="tab">
                        <img class="tab-icon" src="static/images/icons/german.svg" alt="Ícone de mensagens"> <b class="tab-title">German</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab21" role="tab">
                        <img class="tab-icon" src="static/images/icons/italian.svg" alt="Ícone de mensagens"> <b class="tab-title">Italian</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab22" role="tab">
                        <img class="tab-icon" src="static/images/icons/dutch.svg" alt="Ícone de mensagens"> <b class="tab-title">Dutch</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab23" role="tab">
                        <img class="tab-icon" src="static/images/icons/polish.svg" alt="Ícone de mensagens"> <b class="tab-title">Polish</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab24" role="tab">
                        <img class="tab-icon" src="static/images/icons/swedish.svg" alt="Ícone de mensagens"> <b class="tab-title">Swedish</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab25" role="tab">
                        <img class="tab-icon" src="static/images/icons/finnish.svg" alt="Ícone de mensagens"> <b class="tab-title">Finnish</b>
                    </a>
                </div>
                <div class="tab-content">
                    <div id="tab18" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Alternate Description:</b> {{alternateDescriptionEN}}</label>
                                <input type="hidden" name="array[]" value="{{ alternateDescriptionEN}}">
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Web Description:</b> {{webDescriptionEN}}</label>
                                <input type="hidden" name="array[]" value="{{ webDescriptionEN}}">
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Marketing Message:</b> {{marketingMessageEN}}</label>
                                <input type="hidden" name="array[]" value="{{ marketingMessageEN}}">
                            </div>
                        </div>
                    </div>
                    <div id="tab19" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Description Alternative:</b> {{alternateDescriptionFR}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Description Web:</b> {{webDescriptionFR}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Message Marketing:</b> {{marketingMessageFR}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab20" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Alternative Beschreibung:</b> {{alternateDescriptionDE}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Webbeschreibung:</b> {{webDescriptionDE}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Marketingbotschaft:</b> {{marketingMessageDE}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab21" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Descrizione Alternativa:</b> {{alternateDescriptionIT}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Descrizione Web:</b> {{webDescriptionIT}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Messaggio di Marketing:</b> {{marketingMessageIT}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab22" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Alternatieve Beschrijving:</b> {{alternateDescriptionNL}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Webbeschrijving:</b> {{webDescriptionNL}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Marketingboodschap:</b> {{marketingMessageNL}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab23" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Alternatywny Opis:</b> {{alternateDescriptionPL}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Opis Internetowy:</b> {{webDescriptionPL}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Wiadomość Marketingowa:</b> {{marketingMessagePL}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab24" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Alternativ Beskrivning:</b> {{alternateDescriptionSV}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Webbbeskrivning:</b> {{webDescriptionSV}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Marknadsföringsmeddelande:</b> {{marketingMessageSV}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab25" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Vaihtoehtoinen Kuvaus:</b> {{alternateDescriptionFI}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Verkkokuvaus:</b> {{webDescriptionFI}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Markkinointiviesti:</b> {{marketingMessageFI}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="tab3" class="tab-pane fade" role="tabpanel">
                <h5><b>Planning</b></h5>
                <hr>
                <div class="itemCategory-container">
                    <div class="itemCategory">
                        <label for="sales"><b>Cat Code 8: Workcenter:</b> {{ workCenterCode}}</label>
                        <input type="hidden" name="array[]" value="{{ workCenterCode}}">
                    </div>
                    <div class="itemCategory">
                        <label for="sales"><b>Description:</b> {{ workCenterDescription}}</label>
                    </div>
                    <div class="itemCategory">
                        <label for="sales"><b>Master Planning Family:</b> {{ masterPlanningFamilyCode}}</label>
                        <input type="hidden" name="array[]" value="{{ masterPlanningFamilyCode}}">
                    </div>
                    <div class="itemCategoryDescription">
                        <label for="colorFragrance"><b>Description:</b> {{ masterPlanningFamilyDescription}}</label>
                    </div>
                    <div class="itemCategoryDescription">
                        <label for="colorFragrance"><b>Item Category Code 70 03: Sub Product Group:</b> {{ subProductGroupCode}}</label>
                        <input type="hidden" name="array[]" value="{{ subProductGroupCode}}">
                    </div>
                    <div class="itemCategoryDescription">
                        <label for="colorFragrance"><b>Description:</b> {{ subProductGroupDescription}}</label>
                    </div>
                    <div class="itemCategoryDescription">
                        <label for="colorFragrance"><b>Shipp.Comm.Class.: TARIC Code:</b> {{ taricCodeCode}}</label>
                        <input type="hidden" name="array[]" value="{{ taricCodeCode}}">
                    </div>
                    <div class="itemCategoryDescription">
                        <label for="colorFragrance"><b>Description:</b> {{ taricCodeDescription}}</label>
                    </div>
                    <div class="itemCategoryDescription">
                        <label for="colorFragrance"><b>Item Category Code 70 08: Production Dimension Group:</b> {{ productionDimensionGroupCode}}</label>
                        <input type="hidden" name="array[]" value="{{ productionDimensionGroupCode}}">
                    </div>
                    <div class="itemCategoryDescription">
                        <label for="colorFragrance"><b>Description:</b> {{ productionDimensionGroupDescription}}</label>
                    </div>
                    <div class="itemCategoryDescription">
                        <label for="colorFragrance"><b>Cat Code 07: Material Number:</b> {{ materialNumberCode}}</label>
                        <input type="hidden" name="array[]" value="{{ materialNumberCode}}">
                    </div>
                    <div class="itemCategoryDescription">
                        <label for="colorFragrance"><b>Description:</b> {{ materialNumberDescription}}</label>
                    </div>
                    <div class="itemCategoryDescription">
                        <label for="colorFragrance"><b>Country of Origin:</b> {{ countryOfOriginCode}}</label>
                        <input type="hidden" name="array[]" value="{{ countryOfOriginCode}}">
                    </div>
                    <div class="itemCategoryDescription">
                        <label for="colorFragrance"><b>Description:</b> {{ countryOfOriginDescription}}</label>
                    </div>
                </div>
            </div>
            <div id="tab4" class="tab-pane fade" role="tabpanel">
                <h5><b>Branch Plant</b></h5>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>Branch</th>
                            <th>Branch Name</th>
                            <th>Branch Type</th>
                            <th>Standard</th>
                            <th>Stocking Type</th>
                            <th>Work Center</th>
                            <th>Buyer</th>
                            <th>Supplier</th>
                            <th>Leadtime</th>
                            <th>MRQ</th>
                            <th>MULT</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in branchPlant %}
                        <tr>
                            <td>{{item['Branch']}}</td>
                            <input type="hidden" name="arrayBranch[]" value="{{ item['Branch']}}">
                            <td>{{item['Branch Name']}}</td>
                            <td>{{item['Branch Type']}}</td>
                            <input type="hidden" name="arrayBranch[]" value="{{ item['Branch Type']}}">
                            {% if item['Standard'] == 1%}
                                <td>Yes</td>
                                <input type="hidden" name="arrayBranch[]" value="Yes">
                            {% else %}
                                <td>No</td>
                                <input type="hidden" name="arrayBranch[]" value="No">
                            {% endif %}
                            <td>{{ item['Stocking Type']}}</td>
                            <input type="hidden" name="arrayBranch[]" value="{{ item['Stocking Type']}}">
                            <td>{{item['Work Center']}}</td>
                            <input type="hidden" name="arrayBranch[]" value="{{ item['Work Center']}}">
                            <td>{{item['Buyer']}}</td>
                            <input type="hidden" name="arrayBranch[]" value="{{ item['Buyer']}}">
                            <td>{{item['Supplier']}}</td>
                            <input type="hidden" name="arrayBranch[]" value="{{ item['Supplier']}}">
                            <td>{{item['Leadtime Level item in days']}}</td>
                            <input type="hidden" name="arrayBranch[]" value="{{ item['Leadtime Level item in days']}}">
                            <td>{{item['MRQ - Minimum Reorder Quantity in OC']}}</td>
                            <input type="hidden" name="arrayBranch[]" value="{{ item['MRQ - Minimum Reorder Quantity in OC']}}">
                            <td>{{item['MULT - Multiple Order Quantity in OC']}}</td>
                            <input type="hidden" name="arrayBranch[]" value="{{ item['MULT - Multiple Order Quantity in OC']}}">
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="tab5" class="tab-pane fade" role="tabpanel">
                <h5><b>Customer (GS1)</b></h5>
                <hr>
                <table>
                    <thead>
                        <tr>
                            <th>GLN</th>
                            <th>Country</th>
                            <th>Company</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in customer %}
                        <tr>
                            <td>{{ item['GLN'] }}</td>
                            <input type="hidden" name="arrayCustomer[]" value="{{ item['GLN']}}">
                            <td>{{ item['Country'] }}</td>
                            <input type="hidden" name="arrayCustomer[]" value="{{ item['Country']}}">
                            <td>{{ item['Company'] }}</td>
                            <input type="hidden" name="arrayCustomer[]" value="{{ item['Company']}}">
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div id="tab6" class="tab-pane fade" role="tabpanel">
                <h5><b>UOM</b></h5>
                <hr>
                <h5><b>Consumerunit</b></h5>
                <div class="sync-container">
                    <div class="sync">
                        <label for="syncForceProject"><b>Height of Consumerunit:</b> {{ consumerUnitHeightValue }} <b>{{ consumerUnitHeightUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ consumerUnitHeightValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Depth of Consumerunit:</b> {{consumerUnitDepthValue}} <b>{{ consumerUnitDepthUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ consumerUnitDepthValue}}">
                    </div>
                    <div class="sync">
                        <label for="firstDeliveryDate"><b>Width of Consumerunit:</b> {{consumerUnitWidthValue}} <b>{{ consumerUnitWidthUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ consumerUnitWidthValue}}">
                    </div>
                    <div class="sync">
                        <label for="createdBy"><b>Eaches in Consumerunit:</b> {{ eachesCustomerUnit }}</label>
                        <input type="hidden" name="array[]" value="{{ eachesCustomerUnit}}">
                    </div>
                    <div class="sync">
                        <label for="firstDeliveryDate"><b>Gross Weight Consumerunit:</b> {{grossWeightCustomerUnitValue}} <b>{{ grossWeightCustomerUnitUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ grossWeightCustomerUnitValue}}">
                    </div>
                    <div class="sync">
                        <label for="firstDeliveryDate"><b>Nett Weight Consumerunit:</b> {{netWeightCustomerUnit1Value}} <b>{{ netWeightCustomerUnit1Unit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ netWeightCustomerUnit1Value}}">
                    </div>
                </div>
                <h5><b>Spaceman</b></h5>
                <div class="sync-container">
                    <div class="sync">
                        <label for="syncForceProject"><b>Spaceman Height:</b> {{ spacemanHeight }} </label>
                        <input type="hidden" name="array[]" value="{{ spacemanHeight}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Spaceman Depth:</b> {{spacemanDepth}} </label>
                        <input type="hidden" name="array[]" value="{{ spacemanDepth}}">
                    </div>
                    <div class="sync">
                        <label for="firstDeliveryDate"><b>Spaceman Width:</b> {{spacemanWidth}} </label>
                        <input type="hidden" name="array[]" value="{{ spacemanWidth}}">
                    </div>
                    <div class="sync">
                        <label for="createdBy"><b>Spaceman Stackingfactor:</b> {{ spacemanStackingFactor }}</label>
                        <input type="hidden" name="array[]" value="{{ spacemanStackingFactor}}">
                    </div>
                </div>
                <br />
                <div class="status-container">
                    <div class="sync">
                        <label for="syncForceProject"><b>Height of Each:</b> {{ eachHeightValue }} <b>{{ eachHeightUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ eachHeightValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Depth of Each:</b> {{eachDepthValue}} <b>{{ eachDepthUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ eachDepthValue}}">
                    </div>
                    <div class="sync">
                        <label for="firstDeliveryDate"><b>Width of Each:</b> {{widthDepthValue}} <b>{{ widthDepthUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ widthDepthValue}}">
                    </div>
                    <div class="sync">
                        <label for="createdBy"><b>Burningtime Each in Hour:</b> {{ eachBurningTimeValue }} <b>{{ eachBurningTimeUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ eachBurningTimeValue}}">
                    </div>
                </div>
                <h5><b>VOC</b></h5>
                <div class="sync-container">
                    <div class="sync">
                        <label for="syncForceProject"><b>VOC Percentage per Each:</b> {{ eachVOCPercentage }} </label>
                        <input type="hidden" name="array[]" value="{{ eachVOCPercentage}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>VOC Weight per Each:</b> {{eachVOCWeightValue}} <b>{{ eachVOCWeightUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ eachVOCWeightValue}}">
                    </div>
                </div>
                <h5><b>Outer Carton</b></h5>
                <div class="sync-container">
                    <div class="sync">
                        <label for="syncForceProject"><b>Outer Carton per Layer:</b> {{ outerCartonNumValue }} <b>{{ outerCartonNumUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ outerCartonNumValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Height of Outercarton:</b> {{outerCartonHeightValue}} <b>{{ outerCartonHeightUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ outerCartonHeightValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Depth of Outercarton:</b> {{outerCartonDepthValue}} <b>{{ outerCartonDepthUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ outerCartonDepthValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Width of Outercarton:</b> {{outerCartonWidthValue}} <b>{{ outerCartonWidthUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ outerCartonWidthValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Number of Consumerunit per Outercarton:</b> {{outerCartonConsumerUnitNum}} </label>
                        <input type="hidden" name="array[]" value="{{ outerCartonConsumerUnitNum}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Weight Outercarton:</b> {{outerCartonWeightValue}} <b>{{ outerCartonWeightUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ outerCartonWeightValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Volume Outercarton:</b> {{outerCartonVolumeValue}} <b>{{ outerCartonVolumeUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ outerCartonVolumeValue}}">
                    </div>
                </div>
                <h5><b>Pallet</b></h5>
                <div class="sync-container">
                    <div class="sync">
                        <label for="syncForceProject"><b>Height of Pallet:</b> {{ palletHeightValue }} <b>{{ palletHeightUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ palletHeightValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Palletlayer per Pallet:</b> {{palletLayerNum}} </label>
                        <input type="hidden" name="array[]" value="{{ palletLayerNum}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Pallet Stacking Factor:</b> {{palletStackingFactor}} </label>
                        <input type="hidden" name="array[]" value="{{ palletStackingFactor}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Number of Outer Carton per Pallet:</b> {{palletOuterCartonNum}} </label>
                        <input type="hidden" name="array[]" value="{{ palletOuterCartonNum}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Presentation Units per Outercarton:</b> {{presentationUnitsOuterCaronNum}} </label>
                        <input type="hidden" name="array[]" value="{{ presentationUnitsOuterCaronNum}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Display Palletweight:</b> {{palletWeightValue}} <b>{{ palletWeightUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ palletWeightValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Check Pallet Surface Utilisation:</b> {{palletSurfaceUtilization}} </label>
                        <input type="hidden" name="array[]" value="{{ palletSurfaceUtilization}}">
                    </div>
                </div>
                <h5><b>Presentation Unit</b></h5>
                <div class="sync-container">
                    <div class="sync">
                        <label for="syncForceProject"><b>Height of Presentationunit:</b> {{ presentationUnitHeightValue }} <b>{{ presentationUnitHeightUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ presentationUnitHeightValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Depth of Presentationunit:</b> {{presentationUnitDepthValue}} <b>{{ presentationUnitDepthUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ presentationUnitDepthValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Width of Presentationunit:</b> {{presentationUnitWidthValue}} <b>{{ presentationUnitWidthUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ presentationUnitWidthValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Consumer Unit per Presentationunit:</b> {{presentationUnitCustomerNum}} </label>
                        <input type="hidden" name="array[]" value="{{ presentationUnitCustomerNum}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Gross Weight Presentationunit:</b> {{presentationUnitGrossWeightValue}} <b>{{ presentationUnitGrossWeightUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ presentationUnitGrossWeightValue}}">
                    </div>
                </div>
                <h5><b>Chep</b></h5>
                <div class="sync-container">
                    <div class="sync">
                        <label for="syncForceProject"><b>Euro Chep (no of OC/PL):</b> {{ euroChep }} </label>
                        <input type="hidden" name="array[]" value="{{ euroChep}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Blok Chep (no of OC/PL):</b> {{blockChep}} </label>
                        <input type="hidden" name="array[]" value="{{ blockChep}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>1/2 Chep (1 OC = 1 PL):</b> {{halfChep}} </label>
                        <input type="hidden" name="array[]" value="{{ halfChep}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>1/4 Chep (1 OC = 1 PL):</b> {{quarterChep}} </label>
                        <input type="hidden" name="array[]" value="{{ quarterChep}}">
                    </div>
                </div>
                <h5><b>Packaging</b></h5>
                <div class="sync-container">
                    <div class="sync">
                        <label for="syncForceProject"><b>Packagingweight excl Display Pallet (for Weight OC):</b> {{ packagingWeigthExclDisplayPalletValue }} <b>{{ packagingWeigthExclDisplayPalletUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ packagingWeigthExclDisplayPalletValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Check Calculated Packagingweight = box incl. Display Pallet:</b> {{packagingWeigthIncDisplayPalletValue}} <b>{{ packagingWeigthIncDisplayPalletUnit }}</b></label>
                        <input type="hidden" name="array[]" value="{{ packagingWeigthIncDisplayPalletValue}}">
                    </div>
                    <div class="sync">
                        <label for="syncForceDescription"><b>Packaging Tax:</b> {{packagingTax}} </label>
                        <input type="hidden" name="array[]" value="{{ packagingTax}}">
                    </div>
                </div>
                <div class="status-container">
                    <div class="sync">
                        <label for="syncForceProject"><b>Max Number of Layers:</b> {{ maxLayersNum }} </label>
                        <input type="hidden" name="array[]" value="{{ maxLayersNum}}">
                    </div>
                </div>
            </div>
            <div id="tab7" class="tab-pane fade" role="tabpanel">
                <h5><b>Extra Item Info</b></h5>
                <hr>
                    <div class="descriptionTab-container">
                        <div class="descriptionTab">
                            <label for="descriptionTab"> {{ extraItemInfo }}</label>
                            <input type="hidden" name="array[]" value="{{ extraItemInfo}}">
                        </div>
                    </div>
            </div>
            <div id="tab8" class="tab-pane fade" role="tabpanel">
                <h5><b>Assorti Content</b></h5>
                <hr>
                    <div class="descriptionTab-container">
                        <div class="descriptionTab">
                            <label for="descriptionTab"> {{ assortiContent }}</label>
                            <input type="hidden" name="array[]" value="{{ assortiContent}}">
                        </div>
                    </div>
            </div>
            <div id="tab9" class="tab-pane fade" role="tabpanel">
                <h5><b>B2C Texts</b></h5>
                <hr>
                    <div class="status-container">
                        <div class="descriptionTab">
                            <label for="descriptionTab"><b>B2C Content Group:</b> {{ b2CContentGroupCode }}</label>
                            <input type="hidden" name="array[]" value="{{ b2CContentGroupCode}}">
                        </div>
                        <div class="descriptionTab">
                            <label for="descriptionTab"><b>Color Description Group:</b> {{colorDescriptionGroupCode}}</label>
                            <input type="hidden" name="array[]" value="{{ colorDescriptionGroupCode}}">
                        </div>
                        <div class="descriptionTab">
                            <label for="descriptionTab"><b>Fragrance Description Group:</b> {{fragranceDescriptionGroupCode}}</label>
                            <input type="hidden" name="array[]" value="{{ fragranceDescriptionGroupCode}}">
                        </div>
                    </div>
                <div class="nav justify-content">
                    <a class="nav-b2c" data-toggle="tab" href="#tab10" role="tab">
                        <img class="tab-icon" src="static/images/icons/english.svg" alt="Ícone de mensagens"> <b class="tab-title">English</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab11" role="tab">
                        <img class="tab-icon" src="static/images/icons/french.svg" alt="Ícone de mensagens"> <b class="tab-title">French</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab12" role="tab">
                        <img class="tab-icon" src="static/images/icons/german.svg" alt="Ícone de mensagens"> <b class="tab-title">German</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab13" role="tab">
                        <img class="tab-icon" src="static/images/icons/italian.svg" alt="Ícone de mensagens"> <b class="tab-title">Italian</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab14" role="tab">
                        <img class="tab-icon" src="static/images/icons/dutch.svg" alt="Ícone de mensagens"> <b class="tab-title">Dutch</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab15" role="tab">
                        <img class="tab-icon" src="static/images/icons/polish.svg" alt="Ícone de mensagens"> <b class="tab-title">Polish</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab16" role="tab">
                        <img class="tab-icon" src="static/images/icons/swedish.svg" alt="Ícone de mensagens"> <b class="tab-title">Swedish</b>
                    </a>
                    <a class="nav-b2c" data-toggle="tab" href="#tab17" role="tab">
                        <img class="tab-icon" src="static/images/icons/finnish.svg" alt="Ícone de mensagens"> <b class="tab-title">Finnish</b>
                    </a>
                </div>
                <div class="tab-content">
                    <div id="tab10" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Short Description:</b> {{b2cLanguageENShort}}</label>
                                <input type="hidden" name="array[]" value="{{ b2cLanguageENShort}}">
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Introduction Text:</b> {{b2cLanguageENIntroduction}}</label>
                                <input type="hidden" name="array[]" value="{{ b2cLanguageENIntroduction}}">
                            </div>
                        </div>
                    </div>
                    <div id="tab11" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Brève Description:</b> {{b2cLanguageFRShort}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Texte d'introduction:</b> {{b2cLanguageFRIntroduction}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab12" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Kurze Beschreibung:</b> {{b2cLanguageDEShort}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Einführungstext:</b> {{b2cLanguageDEIntroduction}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab13" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Breve Descrizione:</b> {{b2cLanguageITShort}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Testo Introduttivo:</b> {{b2cLanguageITIntroduction}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab14" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Korte Beschrijving:</b> {{b2cLanguageNLShort}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Inleidende Tekst:</b> {{b2cLanguageNLIntroduction}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab15" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Krótki Opis:</b> {{b2cLanguagePLShort}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Tekst Wprowadzenia:</b> {{b2cLanguagePLIntroduction}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab16" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Kort Beskrivning:</b> {{b2cLanguageSVShort}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Introduktionstext:</b> {{b2cLanguageSVIntroduction}}</label>
                            </div>
                        </div>
                    </div>
                    <div id="tab17" class="tab-pane fade" role="tabpanel">
                        <div class="status-container">
                            <div class="status">
                                <label for="status"><b>Lyhyt Kuvaus:</b> {{b2cLanguageFIShort}}</label>
                            </div>
                            <div class="status">
                                <label for="statusDescription"><b>Johdantoteksti:</b> {{b2cLanguageFIIntroduction}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form> #}

    <div class="modal fade" id="imagemModal" tabindex="-1" role="dialog" aria-labelledby="imagemModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-body">
                    <img src="" alt="Imagem" class="imagem-modal" style="max-height: auto; max-width: auto;">
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
        $('.expandir-imagem').click(function(event) {
            event.preventDefault(); 
            var image = $(this).find('img').attr('src'); 
            $('#imagemModal').find('.imagem-modal').attr('src', image);
            $('#imagemModal').modal('show');
        });
        });

        $(document).ready(function() {
        $('.imagem-menor').click(function(event) {
            event.preventDefault(); 
            var image = $(this).find('img').attr('src'); 
            $('#imagemModal').find('.imagem-modal').attr('src', image); 
            $('#imagemModal').modal('show'); 
        });
        });

        var tabs = document.querySelectorAll('.nav-link');
        tabs.forEach(function(tab) {
        var title = tab.querySelector('.nav-link');
        title.addEventListener('click', function() {
            // remover a classe "active" de todas as tabs
            tabs.forEach(function(tab) {
            tab.querySelector('.nav-link').classList.remove('active');
            });
            // adicionar a classe "active" apenas na tab clicada
            title.classList.add('active');
        });
        });


        var tabs = document.querySelectorAll('.nav-link');
        tabs.forEach(function(tab) {
        var title = tab.querySelector('.nav-link');
        title.addEventListener('click', function() {
            // remover a classe "active" de todas as tabs
            tabs.forEach(function(tab) {
            tab.querySelector('.nav-link').classList.remove('active');
            });
            // adicionar a classe "active" apenas na tab clicada
            title.classList.add('active');
        });
        });

    </script>
{% endblock %}