<!-- <div class="card custom-product-card mb-4 shadow-sm flex-fill" data-productid="{{ gac.id }}"> -->
<div class="mb-4 flex-fill" data-productid="{{ gac.id }}">
    <a href="/product-detail?id={{gac.id}}" class="text-decoration-none text-dark">
            <div class="card-body-top pb-3">
                <div class="product-list-image-div">
                    {% if gac.images %}
                        <img class="product-list-image shadow-sm" src="{{ gac.images }}" alt="Imagem">
                    {% else %}
                        <img class="product-list-image shadow-sm" src="static/images/noimage.jpg" alt="Imagem" height="100%" width="100%">
                    {% endif %} 
                </div>
            </div>
            <div class="card-body-bottom">
            <p class="title my-0">{{ gac.name }}</p>
            <p class="subtitle text-secondary my-0">{{ gac.getLocalization() }}</p>
            <p class="title my-0">{{ gac.getPrice() }}</p>
            </div>
    </a>
</div>