{% extends 'layout/patLayout.html.twig' %}

{% block content %}
<head>
    <meta charset="UTF-8" />
    <title>Trip and Fun</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ asset('static/css/cart.css') }}"
    />
</head>

<section class="section-grey">
    <p class="title text-center my-0">Checkout</p>
    <p class="text-secondary text-center subtitle my-0 mb-2">O prazo de envio do voucher e os códigos de desconto são confirmados no checkout.</p>
    <div class="row">
        <div class="column-left my-2">
            <p class="my-1 cart-title">Preencher informações:</p>
            <div class="card shadow-sm card-cart my-2">
                {{ form_start(form, {'attr': {'class': 'm-4'}}) }}
                    {{ form_row(form.email, {'attr': {'class': 'form-control my-1'}}) }}
                    {{ form_row(form.firstName, {'attr': {'class': 'form-control my-1'}}) }}
                    {{ form_row(form.lastName, {'attr': {'class': 'form-control my-1'}}) }}
                    {{ form_row(form._submit, {'attr': {'class': 'btn orange-button orange-button-100 my-3'}}) }}
                {{ form_end(form) }}
            </div>

        </div>

        <div class="column-right my-2">
            {% include 'cart/cart_order_summary.html.twig' %}
                <div class="card shadow-sm card-cart my-2">
                    <p class="subtitle mt-3 mb-0 mx-3 font-weight-bold">CÓDIGO DE DESCONTO</p>
                    <div class="container"> 
                        <input type="text" class="form-control form-control-sm" placeholder="Cupom de desconto"> </input>
                        <button class="btn orange-button mx-1 my-3 py-1" type="submit" >Aplicar</button>
                    </div>
                </div>
        </div>
    </div>

</section>


{% endblock content%}